/* General tag styling */

body * {
    font-family: "Open Sans", sans-serif;
}

table, th, td {
    border-collapse: collapse;
}

iframe {
    border: none;
}

/* The main table */

#maintable {
    position: absolute;
    width: 50%;
    height: 98.5%;
    left: 25%;
    top: 0px;
}

/* The title part of the website, including the title image and text */

#titleRow {
    height: 160px;
}

#title {
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
}

#titleImage {
    width: 100%;
    margin-top: -50%;
    margin-bottom: -40%;
}

#titleImage:hover {
    margin-top: -60%;
}

#titleText {
    position: absolute;
    left: 16px;
    bottom: -10px;
}

/* The main row of the table */

#mainRow {
    height: 100%;
}

/* The menu of the table, which includes the buttons that take the user to other info tabs */

#tabmenu {
    width: 25%;
    vertical-align: top;
    padding-left: 1px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#tabmenu button {
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(maroon, rgba(230, 0, 0, 1) 40%, yellow);
    border: 1px solid black;
    transition: box-shadow 0.4s;
}

#tabmenu button:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2), 0 8px 25px 0 rgba(0,0,0,0.2);
}

/* Table inside the main row */

#contentTable {
    width: 100%;
    height: calc(100% - 16px);
    margin-top: 16px;
    background: white;
    border: 2px solid black;
}

/* The actual content */

#contentRow {
    height: 100%;
    border: 1px solid black;
}

#content {
    width: 100%;
    height: 100%;
    margin-right: 32px;
    margin-top: 2px;
    margin-bottom: -2px;
}

/* The row inside the content table which includes the buttons to navigate between a tab's pages */

#navRow {
    height: 0%;
}

.pageNavButton {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-image: linear-gradient(rgba(220, 0, 0, 1), yellow);
    border: 1px solid black;
    opacity: 0.6;
    transition: opacity 0.2s, box-shadow 0.2s;
}

.pageNavButton:hover {
    opacity: 1;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2), 0 4px 12px 0 rgba(0,0,0,0.2);
}

#backButton {
    float: left;
}

#nextButton {
    float: right;
}